      <div class="inner">
        <div class="footer-container_1">
          <div class="footer-contents">
            <a href="/"
              ><div class="navbar_logo"><span>Comfort</span>Meal</div></a
            >
            <ul class="footer-list-1">
              <a href=""><li>About ComfortFood</li></a>
              <a href=""><li>Press</li> </a>
              <a href=""><li>Careers</li></a>
              <a href=""><li>FoodService</li></a>
              <a href=""><li>Customer Care</li></a>
            </ul>
          </div>
          <div class="stayconnected">
            <div class="stayconnected-title">Stay Connected !</div>
            <div class="stayconnected-desc">
              Get the freshest ComfortFood news every week
            </div>
            <div class="footer-subscription">
              <form action="/" class="form">
                <input
                  type="email"
                  name="email"
                  class="subsc"
                  placeholder="enter your email"
                />
                <input type="submit" value="Subscribe" class="submit" />
              </form>
            </div>

            <div class="footer-socialmedia">
              <a href="/"><i class="social fab fa-facebook-square"></i></a>
              <a href="/"><i class="social far fa-envelope"></i></a>
              <a href="/"><i class="social fab fa-instagram"></i></a>
              <a href="/"><i class="social fab fa-github"></i></a>
            </div>
          </div>
        </div>

        <div class="footer-container-2">
          <div class="footer-container-2-wrapper">
            <ul class="footer-list-2">
              <li>Term & Condition</li>
              <li>|</li>
              <li>Privacy Policy</li>
              <li>|</li>
              <li>CA Transparency in Supply Chains Act</li>
              <li>|</li>
              <li>Supplier Code of Conduct</li>
              <li>|</li>
              <li>Marketing to Children</li>
            </ul>
            <div class="footer-lastline">
              <div class="footer-copyright">
                Copyright © Winter 2021, Sewon Choi, WEB322NDD
              </div>
            </div>
          </div>
        </div>
      </div>