    <section class="hero">
      <div class="section_herobox">
        <div class="herobox_container">
          <div class="section_hero_words">
            Enjoy a fresh and delicious <br />
            <span style="font-style: italic">chef-made</span> meal at Home
          </div>

        <a href="/menu"><button class="hero_btn">Check Out Our Menu</button></a>
        </div>
      </div>
    </section>