  <div class="inner">

<div class="section_review" id="section_review">
    <div class="section_review_title">
        <div>  Hear from our customers saying </div>
            <div style="font-size:medium" class="section_review_title_desc">
                we have rated 4.4 out of 5 stars! wow!
            </div>
    </div>
    <div class="customer_reviews" >
        <div class="customer-review">
            <div class="customer_reviews_profile">
                <div class="customer_reviews_profilepic" >
                    <img src="/reviews/sandy.jpg" class="customer-pic">
                </div>
                <div class="customer_reviews_profilesaid">
                    <strong>Sandy </strong> said,
                </div>

            </div>
            <div class="customer_reviews_comments_stars">
                <div class="customer_reviews_comments">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed provident quasi error accusamus culpa veniam soluta iusto omnis totam illo! Ad repellat asperiores praesentium optio magnam eveniet veritatis velit vero.
                
                </div>
                <div class="customer_reviews_stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
            </div>
        </div>
       <div class="customer-review">
            <div class="customer_reviews_profile">
                <div class="customer_reviews_profilepic" >
                    <img src="/reviews/david.jpg" class="customer-pic">
                </div>
                <div class="customer_reviews_profilesaid">
                    <strong>David </strong> said,
                </div>

            </div>
              <div class="customer_reviews_comments_stars"></div>
                <div class="customer_reviews_comments">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur suscipit sint praesentium minima accusamus sed corrupti iste omnis magnam adipisci odit quas, cupiditate nisi exercitationem sapiente dolorum veniam eius magni. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla veniam placeat dolorem est obcaecati, harum qui quo non molestias! 
                
                </div>
                <div class="customer_reviews_stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
            </div>
        </div>
      
    </div>


</div>
</div>