

<div class="welcomepage">
    <div class="welcomepage-img">
    <img src="/8.jpg" id="welcomepage"  alt="welcomepage" >
    </div>

    <div class="welcomepage-message">
        <div class="welcomepage_hiyou">
     <div class="customerDash"><i class="fas fa-users"></i>  Customer dashboard</div>
            {{#if user}}
             <div>Hi! :) {{user.firstName}} {{user.lastName}}</div>
             {{/if}}
        </div>
        <div class="welcomepage_welcome">
             <div>Welcome to our <br> <span id="comfortmeal"> <strong> ComfortMeal!</strong></span></div>
        </div>
    </div>
  
</div>