
<section class="regpage">
    <div class="repage-img">
    <img src="/1.jpg">
    </div>
    <div class="regpage-formcontainer">
        <div class="regpage-title">Create Account</div>
        <form action="/signin-user" method="post" class="signinform" >
        <input id="fname"  type="text" name="fname" placeholder="First Name" autofocus>
        <input id="lname" type="text" name="lname" placeholder="Last Name">
        <input id="email" type="email" name="email" placeholder="Email@abc.com"> 
        <input id="password" type="password" name="password" placeholder="Password">
        <button id="submit" type="submit"  name="submit">Sign Up</button>
        </form>
    </div>
</section>