

<div class="welcomepage">
    <div class="welcomepage-img">
    <img src="/yellow.jpg" id="welcomepage"  alt="welcomepage" >
    </div>
    <div class="welcomepage-message">
        <div class="welcomepage_hiyou">
             <h1>Hi! <span id="welcomepage-name"> {{value.fname}} {{value.lname}}</span></h1>
        </div>
        <div class="welcomepage_welcome">
             <h1>Welcome to our COMFORT FOOD!</h1>
        </div>
    </div>
</div>