

<div class="welcomepage">
    <div class="welcomepage-img">
    <img src="/8.jpg" id="welcomepage"  alt="welcomepage" >
    </div>

    <div class="welcomepage-message">
        <div class="welcomepage_hiyou">
             <div>Hi! :)</div>
        </div>
        <div class="welcomepage_welcome">
             <div>Welcome to ComfortMeal!</div>
        </div>
    </div>
  
</div>